<div class="discourse-covid-fuse">

	<!-- BANNER -->
	<div class="banner">
		
		<div class="banner-background">
			<img src="/plugins/discourse-covid-fuse/images/banner/banner-background.png">
		</div>
		
		<!-- BANNER HEADLINE -->
		<div class="banner-foreground">
			<div class="content">
				
				<div class="content-1">
					<div>
						<div class="bubble-container">
							<div class="bubble bubble-left">
								<div class="bubble-content">
									<img src="/plugins/discourse-covid-fuse/images/icons/people.png">
								</div>
							</div>
						</div>
					</div>

					<div class="title-img">
						<img src="/plugins/discourse-covid-fuse/images/banner/title.png">
					</div>
				</div>

				<div class="content-2">
					<div>
						SIGN UP HERE TO HAVE YOU SAY
					</div>
				</div>
			</div>

			<img class="science-week" src="/plugins/discourse-covid-fuse/images/banner/science.png">

		</div>
	</div>

	<!-- CONTENT 1-->
	<div class="content-row-1">

		<div class="col">
			Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
		</div>

		<div class="col">
			<div class="b-wrapper">
				<div class="bubble-container">
					<div class="bubble bubble-left bubble-cat">
						<div class="bubble-content">
							<div>
								View by Category
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="b-wrapper">
				<div class="bubble-container">
					<div class="bubble bubble-left bubble-sch">
						<div class="bubble-content">
							<div>
								View by Schedule
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

	<!-- COUNTDOWN -->
	<div class="countdown-row-1">
		<div class="row-title">
			NOT LONG NOW
		</div>

		<div class="clock-wrapper">
			<div class="days-wrapper">
				<div class="time">
					23
				</div>
				<div class="desc">
					Days
				</div>
			</div>

			<div class="hours-wrapper">
				<div class="time">
					07
				</div>
				<div class="desc">
					Hours
				</div>
			</div>

			<div class="minutes-wrapper">
				<div class="time">
					06
				</div>
				<div class="desc">
					Minutes
				</div>
			</div>
		</div>
	</div>

	<!-- CATEGORIES -->
	<div class="categories-row-1">
		<div class="row-title">
			CATEGORIES
		</div>

		<div class="categories-wrapper">

			<!-- CAT GROUP -->
			<div class="cat-group cat-eco">
				<!-- ICON -->
				<div>
					<div class="bubble-container">
						<div class="bubble">
							<div class="bubble-content">
								<img src="/plugins/discourse-covid-fuse/images/icons/finance.png">
							</div>
						</div>
					</div>
				</div>

				<!-- Text -->
				<div class="desc">
					Economy
				</div>
			</div>

			<!-- CAT GROUP -->
			<div class="cat-group cat-health">
				<!-- ICON -->
				<div>
					<div class="bubble-container">
						<div class="bubble bubble-right">
							<div class="bubble-content">
								<img src="/plugins/discourse-covid-fuse/images/icons/cross.png">
							</div>
						</div>
					</div>
				</div>

				<!-- Text -->
				<div class="desc">
					Health
				</div>
			</div>

			<!-- CAT GROUP -->
			<div class="cat-group cat-social">
				<!-- ICON -->
				<div>
					<div class="bubble-container">
						<div class="bubble bubble-right">
							<div class="bubble-content">
								<img src="/plugins/discourse-covid-fuse/images/icons/users.png">
							</div>
						</div>
					</div>
				</div>

				<!-- Text -->
				<div class="desc">
					Social Impact
				</div>
			</div>

			<!-- CAT GROUP -->
			<div class="cat-group cat-env">
				<!-- ICON -->
				<div>
					<div class="bubble-container">
						<div class="bubble bubble-right">
							<div class="bubble-content">
								<img src="/plugins/discourse-covid-fuse/images/icons/leaf.png">
							</div>
						</div>
					</div>
				</div>

				<!-- Text -->
				<div class="desc">
					Environment
				</div>
			</div>

			<!-- CAT GROUP -->
			<div class="cat-group cat-edu">
				<!-- ICON -->
				<div>
					<div class="bubble-container">
						<div class="bubble bubble-right">
							<div class="bubble-content">
								<img src="/plugins/discourse-covid-fuse/images/icons/work.png">
							</div>
						</div>
					</div>
				</div>

				<!-- Text -->
				<div class="desc">
					Education
				</div>
			</div>

			<!-- CAT GROUP -->
			<div class="cat-group cat-tech">
				<!-- ICON -->
				<div>
					<div class="bubble-container">
						<div class="bubble bubble-right">
							<div class="bubble-content">
								<img src="/plugins/discourse-covid-fuse/images/icons/phone.png">
							</div>
						</div>
					</div>
				</div>

				<!-- Text -->
				<div class="desc">
					Communications and Technology
				</div>
			</div>
		</div>
	</div>
</div>