<div class="discourse-covid-fuse">
	<div class="footer">

		<!-- GREEN LINE -->
		<div class="line"></div>

		<div class="content">

      <div class="content-1">
        <div>
          <img src="/plugins/discourse-covid-fuse/images/footer/adapt.png">
        </div>
        <div>
          <img src="/plugins/discourse-covid-fuse/images/footer/dcu.png">
        </div>
        <div>
          <img src="/plugins/discourse-covid-fuse/images/footer/sfi.png">
        </div>
      </div>

      <div class="content-2">
        <div>
          <img src="/plugins/discourse-covid-fuse/images/footer/ii.png">
        </div>
        <div>
          <img src="/plugins/discourse-covid-fuse/images/footer/eu.png">
        </div>
      </div>

		</div>
	</div>
</div>
